.Body__root {
    display: flex;
    /* We use column reverse since flex-end removes the scrollbar -- see link*/
    /*https://github.com/philipwalton/flexbugs/issues/53*/
    flex-direction: column-reverse;
    overflow-y: scroll;
    flex: 1 1 auto;
}
